name: Build and deploy docker image

on:
    push:
        tags:
            - '*.*'
jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
            - uses: actions/checkout@v4
            - name: Set image tag
              id: tag
              run: echo "tag=ghcr.io/plicploucploc/userservice:${{github.ref_name}}" >> $GITHUB_ENV
            - name: Build image
              run: docker build . --file Dockerfile --tag ${{ env.tag }}
            - name: Log in to registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Push image
              run: docker push ${{ env.tag }}
