name: Build and deploy docker image

on: 
  push:
    tags:
      - '*.*'
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build . --file Dockerfile --tag ${{ github.ref_name }}
      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}"
      - name: Push image
        run: IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
