name: Build and deploy docker image

on: 
  push:
    tags:
      - '*.*'
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set image tag
        run: export IMAGE_ID=ghcr.io/plicploucploc/userservice:${{github.ref_name}}
      - name: Build image
        run: docker build . --file Dockerfile --tag $IMAGE_ID
      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: echo "${{ secrets.GITHUB_TOKEN }}"
      - name: Push image
        run: docker push $IMAGE_ID

